:root {
  --black: #000000;
  --darkRed: #3d0000;
  --midRed: #950101;
  --red: #ff0000;
  --section: #dad8d8;
  --sectionReverse: #333333;
  --footerColor: #f0f0f0;
  --mainColor: #f0f0f0;
  --blue: #0000ff;
  --purple: #6a0dad;
  --green: #00d100;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--darkRed);
  color: var();
  font-size: 20px;
  line-height: 1.4;
  color: var(--mainColor);
}
.sectionWrapper {
  padding: 50px;
}
.inputWeight {
  font-weight: 500;
}

/* header */
header.header-section {
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 5px 0;
  background-color: var(--black);
}
header::after {
  padding-top: 50px;
}
.header-section .container {
  max-width: unset;
  padding-left: 50px;
  padding-right: 50px;
}
.header-nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-item {
  height: 100%;
  padding: 7px 0;
}
.logo-item .logo-link {
  display: flex;
  height: 100%;
}
.logo-item .logo-icon {
  height: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.nav-list .nav-item .nav-link {
  /* margin-left: 36px; */
  padding: 20px 15px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.nav-toggle {
  width: 40px;
  height: 25px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.nav-toggle .bar {
  width: 100%;
  height: 20%;
  border-radius: 50px;
  background-color: #ffffff;
}
nav a {
  position: relative;
  display: inline-block;
  /*padding: 0 30px;*/
  /*color: #fff;*/
  color: #444;
  text-decoration: none;
  width: 100%;
}
.current-nav-item a {
  color: #5c29a0;
  border-bottom: 3px solid #5c29a0;
}
.nav-item a:after {
  content: "";
  display: block;
}
.nav-item a:after {
  position: absolute;
  left: 50%;
  /*    bottom: 0;*/
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: var(--midRed);
  transform: translateX(-50%);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-item a:hover:after {
  width: 100%;
}
#menu li {
	position: relative;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: var(--black);
	position: absolute;
	z-index: 99;
	display: none;
  /* top: 50px; */
  padding: 3px 0;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
  padding: 10px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
/* header end */

/** --  section slider  */
section.slider {
  margin-top: 70px;
}
.swiper {
  width: 100%;
  height: 100%;
  max-height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** --  section slider  */

/** --  section introduction  */
section.introduction {
  /* margin-top: 70px; */
}
section.introductions div.sectionWrapper div.introduction {
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.introductions div.sectionWrapper div.introduction div.info h2 {
  margin: 100px 0 30px 0;
  font-size: 200%;
}
section.introductions div.sectionWrapper div.introduction div.info p.secondInfo {
  margin: 30px 0 80px 0;
  font-size: 150%;
}
section.introductions div.sectionWrapper div.introduction div.info a.infoLink {
  background-color: var(--midRed);
  color: var(--mainColor);
  padding: 15px 50px;
  border-radius: 20px;
  transition: 0.3s;
  border: 1px solid var(--red);
}
section.introductions div.sectionWrapper div.introduction div.info a.infoLink:hover {
  transition: 0.3s;
  background-color: var(--red);
  color: #ffffff;
}
section.introductions div.sectionWrapper div.introduction div.info {
  flex-basis: 45%;
}
section.introductions div.sectionWrapper div.introduction div.image {
  flex-basis: 45%;
}
section.introductions div.sectionWrapper div.introduction div.image {
  max-width: 450px;
}
section.introductions div.sectionWrapper div.introduction div.image img {
  width: 100%;
}
/** --  section introduction */

/** --  section product */
section.product {
  background-color: var(--section);
}
section.product .swiper {
  width: 100%;
  height: 100%;
}

section.product .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

section.product .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.product .swiper {
  width: 100%;
  /* height: 300px; */
  margin: 20px auto;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content {
  width: 100%;
  /* padding: 0 20px; */
  /* width: 335px;
  height: 250px; */
  display: flex;
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
  position: relative;
  /* max-height: 425px; */
  max-height: 360px;
  overflow: hidden;
  margin-top: auto;
  transition: 0.7s;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content .product-banner {
  width: 100%;
  height: 100%;
  position: relative;
  /* margin-bottom: 32px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content div.proh {
  position: absolute;
  top: 450px;
  transition: 0.7s;
  background-color: rgba(240, 240, 240, 0.6);
  padding: 15px 5px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content:hover div.proh {
  position: absolute;
  /* top: 165px; */
  transition: 0.7s;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
section.product
  div.swiper.mySwiper2
  div.swiper-wrapper
  div.swiper-slide
  div.product-card-content
  div.proh
  .product-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 32px;
  /* color: #000000; */
  color: #000;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content div.proh a.btn {
  padding: 10px 40px;
  background-color: var(--midRed);
  color: var(--mainColor);
  border: 1px solid var(--red);
  border-radius: 25px;
  transition: 0.3s;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content div.proh a.btn:hover {
  background-color: var(--red);
}
/** --  section product */

/** --  section video */
section.video div.video-banner {
  width: 100%;
  height: 500px;
  background: url(../img/backVideo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.video-banner .play-icon {
  width: 125px;
  cursor: pointer;
  position: absolute;
}

.video-promotion .video-embed-content {
  top: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-color: black;
}
.video-embed-content iframe {
  border: none;
  width: 100%;
}
.video-embed-content > div,
.video-embed-content > div > div {
  height: 100%;
}
.video-embed-content.show-video {
  display: block;
}
/** --  section video */

/** --  section info */
section.info {
  background-color: var(--section);
  min-height: 400px;
}

section.info div.sectionWrapper h3 {
  text-align: center;
  color: var(--darkRed);
  font-size: 200%;
}
section.info div.sectionWrapper div.infoBoxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
section.info div.sectionWrapper div.infoBoxes div.infoBox {
  padding-right: 20px;
  max-width: 265px;
}
section.info div.sectionWrapper div.infoBoxes div.infoBox h4 {
  text-align: center;
  font-size: 130%;
  padding: 10px 0;
  color: var(--darkRed);
}
section.info div.sectionWrapper div.infoBoxes div.infoBox p {
  text-align: justify;
  color: var(--darkRed);
}
section.info div.sectionWrapper div.infoBoxes div.infoBox:last-child {
  padding-right: 0px;
}

/** --  section info */

/** --  section boses */
section.boxes {
  /* height: 300px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section.boxes div {
  flex-basis: 33.333%;
  height: 292px;
}
section.boxes div h4 {
  font-size: 250%;
  text-shadow: 0px 0px 13px #000000;
}
section.boxes div p {
  font-size: 140%;
}
section.boxes div.box div.image1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.boxes div.box div.image1 h4 {
}
section.boxes div.box div.image1 p {
}
section.boxes div.box div.image2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.boxes div.box div.image2 h4 {
}
section.boxes div.box div.image2 p {
}
section.boxes div.form {
  /* flex-basis: 400px; */
}
section.boxes div.form div.formbox {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
section.boxes div.form div.formbox form#box {
  width: 100%;
  display: flex;
}
section.boxes div.form div.formbox form input {
  padding: 5px;
  border-radius: 5px;
  width: 83%;
  color: var(--darkRed);
}
section.boxes div.form div.formbox p {
  font-size: 100%;
  margin: 10px 0 20px 0;
}
section.boxes div.form div.formbox form button {
  background: url(../img/arrow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* position: relative; */
  border: none;
  /* top: -8px; */
  width: 37px;
  height: 100%;
  cursor: pointer;
  margin-left: 10px;
}
/** --  section boses */

/** --  FOOTER */

footer {
  background-color: var(--black);
}
footer div.sectionWrapper div.footers {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer div.sectionWrapper div.footers,
footer div.sectionWrapper div.footers a {
  color: var(--footerColor);
}
footer div.sectionWrapper div.footers > div {
  flex-basis: 25%;
}
footer div.sectionWrapper div.footers div.footer-right h5 {
  margin-bottom: 15px;
  font-size: 120%;
}
footer div.sectionWrapper div.footers div.footer-mid h5 {
  margin-bottom: 15px;
  font-size: 120%;
}
footer div.sectionWrapper div.footers div.footer-mid ul {
  list-style: none;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm {
  display: flex;
  flex-direction: column;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm form {
  display: flex;
  flex-direction: column;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm h5 {
  margin-bottom: 20px;
  font-size: 120%;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm input#email {
  padding: 7px 7px 7px 0;
  width: 70%;
  font-size: 85%;
  background-color: transparent;
  border: none;
  /* border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium; */
  border-bottom: 1px solid white;
  color: antiquewhite;
  margin-bottom: 15px;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm input#email:focus-visible {
  outline: none;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm form button {
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--midRed);
  color: var(--footerColor);
  transition: 0.2s;
  border: 1px solid var(--red);
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm form button:hover {
  background-color: var(--red);
  color: #ffffff;
}
footer div.sectionWrapper div.footers div.footer-docial div.logo {
  margin-bottom: 20px;
}
footer div.sectionWrapper div.footers div.footer-docial div.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer div.sectionWrapper div.footers div.footer-docial div.social a {
  padding-right: 5px;
}
footer div.sectionWrapper div.footers div.footer-docial div.social a ion-icon.md.hydrated {
  font-size: 40px;
}
/* 
contact us page
-- contact  us 
*/
section.contact-us {
  margin-top: 70px;
  background-color: #ffffff;
}
section.contact-us div.sectionWrapper {
  padding: 0%;
}
section.contact-us div.sectionWrapper div.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.contact-us div.sectionWrapper div.contact div.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 460px;
  margin: 0 auto;
  padding: 15px 0 70px 0;
}
section.contact-us div.sectionWrapper div.contact div.top p.title {
  font-size: 80%;
  color: var(--darkRed);
}
section.contact-us div.sectionWrapper div.contact div.top h3 {
  font-size: 150%;
  margin: 20px 0;
  color: var(--darkRed);
}
section.contact-us div.sectionWrapper div.contact div.top p.infoTitle {
  /* margin-bottom: 150px; */
  color: var(--darkRed);
}
section.contact-us div.sectionWrapper div.contact div.information {
  width: 100%;
  background-color: var(--sectionReverse);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper {
  /* height: 500px; */
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  /* -webkit-box-shadow: 0px 0px 11px 2px rgba(255,255,255,0.7); 
box-shadow: 0px 0px 11px 2px rgba(255,255,255,0.7); */
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.wrapper {
  width: 80%;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form,
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info {
  flex-basis: 45%;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form {
  padding: 15px;
  /* border: 1px solid var(--darkRed); */
  border-radius: 10px;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form h3.formTitle {
  font-size: 200%;
  font-weight: 500;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form p.formInfo {
  font-size: 80%;
  margin: 10px 0 40px 0;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form form input#name,
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form form input#email,
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form form textarea {
  padding: 15px;
  border-radius: 3px;
  font-size: 70%;
  border: 1px solid var(--darkRed);
  outline-color: var(--darkRed);
  color: var(--darkRed);
  margin-bottom: 20px;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form form textarea {
  resize: none;
  height: 160px;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form form button {
  width: 100%;
  padding: 10px 10px;
  font-size: 80%;
  border-radius: 5px;
  background-color: var(--midRed);
  color: var(--mainColor);
  border: 1px solid var(--red);
  transition: 0.3s;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form form button:hover {
  background-color: var(--red);
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.form form {
  display: flex;
  flex-direction: column;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info {
  padding: 20px;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.info-contact {
  display: flex;
  align-items: flex-end;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.info-contact:first-child {
  margin-top: 100px;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.info-contact ion-icon,
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.socials ion-icon {
  font-size: 40px;
  margin-top: 27px;
  color: var(--mainColor);
  transition: 0.3s;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.info-contact ion-icon:hover,
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.socials ion-icon:hover {
  color: var(--midRed);
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.info-contact a {
  margin-left: 20px;
  color: var(--mainColor);
  font-size: 130%;
  transition: 0.2s;
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.info-contact a:hover {
  color: var(--midRed);
}
section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.socials {
  margin-top: 75px;
}

/*
* -- about us page
* -- about us
*/
section.about-us,
section.about-us2,
section.about-us3{
  margin-top: 70px;

}
section.about-us {
  background-color: var(--section);
  color: var(--black);
}
section.about-us div.sectionWrapper div.section1 h3 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 50px;
}
section.about-us div.sectionWrapper div.section1 div.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1210px;
  margin: 0 auto;
}
section.about-us div.sectionWrapper div.section1 div.boxes div.box {
  /* flex-basis: 30%; */
  flex-basis: 305px;
  margin-bottom: 50px;
}
section.about-us div.sectionWrapper div.section1 div.boxes div.box p {
  font-size: 85%;
}
section.about-us div.sectionWrapper div.section1 div.boxes div.box div.boxTitle {
  display: flex;
  align-items: center;
}
section.about-us div.sectionWrapper div.section1 div.boxes div.box div.boxTitle ion-icon {
  font-size: 70px;
}
section.about-us div.sectionWrapper div.section1 div.boxes div.box div.boxTitle p.title {
  font-size: 120%;
  margin-left: 20px;
  font-weight: 600;
}
section.about-us2 div.section2 {
  height: 250px;
}
section.about-us2 div.section2 h3,
section.about-us2 div.section2 h4,
section.about-us2 div.section2 h5 {
  text-align: center;
}
section.about-us2 div.section2 h3 {
  font-size: 200%;
  margin: 15px 0;
}
section.about-us2 div.boxes {
  background-color: var(--mainColor);
  /* height: 330px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}
section.about-us2 div.boxes div.wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: -100px;
}
section.about-us2 div.boxes div.wrapper div.box {
  width: 250px;
  background-color: var(--mainColor);
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.34);
  color: var(--black);
  margin-bottom: 20px;
}
section.about-us2 div.boxes div.wrapper div.box span {
  background-color: var(--section);
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto;
}
section.about-us2 div.boxes div.wrapper div.box span img {
  height: 70px;
}
section.about-us2 div.boxes div.wrapper div.box h3 {
  margin: 15px 0;
}
section.about-us2 div.boxes div.wrapper div.box p {
  color: var(--sectionReverse);
  font-size: 85%;
}

section.about-us3 div.down {
  background-color: var(--section);
  color: var(--black);
}
section.about-us3 div.down div.boxes div.members {
  width: 50%;
  margin-left: auto;
  padding: 20px 0;
}
section.about-us3 div.down div.boxes div.members h2.membersTitle {
  text-align: left;
  font-size: 250%;
}
section.about-us3 div.down div.boxes div.members::after {
  content: "";
  width: 100%;
  height: 8px;
  display: block;
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(149, 1, 1, 1) 52%, rgba(61, 0, 0, 1) 100%);
  or: #5c29a0;
}
section.about-us3 div.down div.boxes div.wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
}
section.about-us3 div.down div.boxes div.wrapper div.box {
  width: 250px;
  text-align: center;
  margin-bottom: 20px;
}
section.about-us3 div.down div.boxes div.wrapper div.box img {
  /* height: 100%; */
  width: 100%;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
section.about-us3 div.down div.boxes div.wrapper div.box h3.firstTitle {
  color: var(--darkRed);
}
section.about-us3 div.down div.boxes div.wrapper div.box h4.jobTitle {
  margin: 10px 0 20px 0;
}
section.about-us3 div.down div.boxes div.wrapper div.box p.info {
  font-size: 85%;
  color: #666666;
  margin-bottom: 20px;
}
section.about-us3 div.down div.boxes div.wrapper div.box div.icon a ion-icon {
  font-size: 40px;
  color: var(--darkRed);
  transition: 0.3s;
}
section.about-us3 div.down div.boxes div.wrapper div.box div.icon a ion-icon:hover {
  color: var(--midRed);
}

/*
* -- product page
*
*/
section.products {
  margin-top: 70px;
  background-color: var(--section);
  color: var(--black);
}
section.products div.sectionWrapper {
  padding: 50px 0;
}
section.products div.sectionWrapper div.cards {
  margin: 0 auto;
  width: 80%;
}
section.products div.sectionWrapper div.cards h3,
section.products div.sectionWrapper div.cards h6{
text-align: center;
}
section.products div.sectionWrapper div.cards h3{
  margin-bottom: 20px;
  font-size: 160%;
}
section.products div.sectionWrapper div.cards h6{
  margin-bottom: 20px;
  font-size: 100%;
  font-weight: 400;
}
section.products div.sectionWrapper div.cards div.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.products div.sectionWrapper div.cards div.wrapper div.card {
  width: 400px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  margin-bottom: 40px;
  /* padding: 10px; */
}
section.products div.sectionWrapper div.cards div.wrapper div.card div,
/* section.products div.sectionWrapper div.cards div.wrapper div.card h5, */
section.products div.sectionWrapper div.cards div.wrapper div.card h2 {
  padding: 0 10px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div:first-child {
  padding: 0;
}
section.products div.sectionWrapper div.cards div.wrapper div.card ul {
  list-style: none;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.stars {
  margin: 10px 0;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.stars ul.star {
  display: flex;
  flex-direction: row;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.stars ul.star a {
  color: #cdb403;
}
section.products div.sectionWrapper div.cards div.wrapper div.card h5 {
  font-weight: 300;
  font-size: 85%;
  margin-bottom: 20px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.property ul {
  margin-bottom: 20px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.property ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 90%;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.property ul li ion-icon {
  margin-right: 10px;
  color: var(--blue);
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.submit {
  margin-bottom: 20px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.submit button {
  padding: 8px 24px;
  width: 100%;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 85%;
  border-top: 1px solid #fafafa;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount div.right,
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount div.left {
  display: flex;
  flex-direction: row;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount div.right p:first-child,
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount div.left p:first-child {
  margin-right: 15px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount div.left p.now {
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount div.right p.old {
  color: #666;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.discount div.right p.now {
  color: var(--blue);
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul {
  display: flex;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul li {
  border-radius: 10px;
  margin: 0 10px 20px 0;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul li a {
  display: block;
  width: 10px;
  height: 10px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul li#green {
  background-color: var(--green);
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul li#red {
  background-color: var(--red);
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul li#blue {
  background-color: var(--blue);
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul li#purple {
  background-color: var(--purple);
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.colors ul li#black {
  background-color: var(--black);
}
section.products div.sectionWrapper div.cards div.wrapper div.card div.image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section.products div.sectionWrapper div.cards div.wrapper div.price-card{
  width: 300px;
border: none;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-top{
margin: 0 auto;
position: relative;
top: 50px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-top div.flag{
  width: 220px;
  height: 130px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative; 
  background: var(--midRed);
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-top div.flag:after{
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 30px solid var(--mainColor);
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-top div.flag p:first-child{
  font-size: 190%;
  font-weight: 700;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-top div.flag p:last-child{
  font-weight: 700;
  font-size: 130%;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-top div.flag p span{
font-size: 230%;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-main{
background-color: var(--mainColor);
padding: 0 20px 50px;
-webkit-box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.23); 
box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.23);
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-main h4.card-title{
font-weight: 300;
font-size: 80%;
margin: 80px 0 10px 0;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-main div.card-main-text{
display: flex;
align-items: center;
padding: 5px 0;
border-top: 1px solid var(--section);
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-main div.card-main-text ion-icon{
color: var(--green);
margin-right: 15px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-main div.card-main-text ion-icon#deny{
  color: var(--sectionReverse);
  margin-right: 15px;
  }
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-main div.card-main-text p{
  font-size: 80%;
  font-weight: 300;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-butoon{
  width: 100%;
  position: relative;
top: -22px;
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-butoon button{
padding: 10px;
width: 85%;
margin: 0 auto;
display: block;
transition: 0.2s;
font-weight: 500;
color: var(--mainColor);
border-radius: 5px;
border: 1px solid var(--red);
background-color: var(--midRed);
-webkit-box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.23); 
box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.23);
}
section.products div.sectionWrapper div.cards div.wrapper div.card.price-card div.wrapper div.card-butoon button:hover{
  background-color: var(--red);
}

/*
* -- RESPONSIVE SECTIONS
*
*/
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  /* HEADER*/
  /* #menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none} */
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	/* #menu input, #menu label {position:absolute;top:0;left:0;display:block} */
	/* #menu input {z-index:4} */
	/* #menu input:checked + label {color:white} */
	/* #menu input:checked + label:before {content:"\00d7"} */
	/* #menu input:checked ~ ul {display:block} */

  .header-section .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav-toggle {
    display: flex;
    order: 1;
  }
  .nav-list {
    overflow: hidden;
    top: 101%;
    right: 0;
    left: 0;
    align-items: flex-end;
    z-index: 10;
    position: absolute;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 0;
    max-height: 0;
    transition: 0.3s;
  }
  .nav-list.opened {
    max-width: 100%;
    max-height: 500px;
  }
  .nav-list .nav-item {
    display: flex;
    line-height: 40px;
  }
  .nav-list .nav-item .nav-link {
    margin: 0;
    width: 100%;
    padding-right: 16px;
    color: var(--midRed);
  }
  .nav-list .nav-item:hover {
    background-color: #ea282e4b;
  }
  /* -- boxes */
  section.boxes div {
    flex-basis: unset;
    /* height: auto; */
    width: 100%;
  }
  section.boxes div.box div.image1,
  section.boxes div.box div.image2 {
    background-size: 100% 100%;
  }
  section.boxes div.form {
    width: calc(100% - 30px);
  }
  section.boxes div.form div.formbox {
    padding: 0%;
  }
  /* --footer */
  footer div.sectionWrapper div.footers > div {
    margin-bottom: 40px;
  }
  footer div.sectionWrapper div.footers > div {
    flex-basis: unset;
  }
  /* 
  contact us page
  -- contact us 
  */
  section.contact-us div.sectionWrapper div.contact div.information div.wrapper {
    width: 100%;
  }
     /*
  * -- product page
  * -- product
  */
  section.products div.sectionWrapper div.cards{
    width: 96%;
  }
}
@media (max-width: 768px) {
  .sectionWrapper {
    padding: 10px;
  }
  /* --section introduction */
  section.introductions div.sectionWrapper div.introduction {
    flex-direction: column;
    padding-bottom: 20px;
  }
  section.introductions div.sectionWrapper div.introduction div.info h2 {
    margin-top: 40px;
  }
  section.introductions div.sectionWrapper div.introduction div.info p.secondInfo {
    margin-bottom: 50px;
  }
  section.introductions div.sectionWrapper div.introduction div.image {
    display: none;
  }
  /* --section info */
  section.info div.sectionWrapper div.infoBoxes {
    justify-content: space-around;
  }
  /* --section boxes */
  section.boxes {
    justify-content: center;
  }

  /* -- footer */
  footer div.sectionWrapper div.footers div.footer-left div.footerForm h5 {
    margin-bottom: 0px;
  }
  footer div.sectionWrapper div.footers {
    flex-direction: column;
    align-items: center;
  }
  footer div.sectionWrapper div.footers > div {
    /* margin-bottom: 40px; */
    width: 100%;
  }
  footer div.sectionWrapper div.footers {
    text-align: center;
  }
  footer div.sectionWrapper div.footers div.footer-left div.footerForm input#email,
  footer div.sectionWrapper div.footers div.footer-left div.footerForm form button {
    width: 100%;
  }
  footer div.sectionWrapper div.footers div.footer-docial div.social {
    justify-content: center;
  }
  /* 
  * -- contact us page
  * -- contact us 
  */
  section.contact-us div.sectionWrapper div.contact div.information div.wrapper {
    flex-direction: column;
  }
  section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info div.info-contact:first-child {
    margin-top: 0px;
  }
  section.contact-us div.sectionWrapper div.contact div.information div.wrapper div.info {
    margin: 0 auto;
  }

  /*
  * -- About us page
  * -- About us
  */
  section.about-us2 div.boxes div.wrapper {
    top: 0px;
  }

  /*
  * -- product page
  * -- product
  */
  section.products div.sectionWrapper div.cards div.wrapper {
    justify-content: center;
  }
  section.products div.sectionWrapper div.cards div.wrapper div.card{
    width: 100%;
  }
}
@media (max-width: 576px) {
  /* -- section introduction */
  section.introductions div.sectionWrapper div.introduction {
    padding: 0 0px 20px 0px;
  }
  /* --section info */
  section.info div.sectionWrapper div.infoBoxes {
    justify-content: center;
  }
  section.info div.sectionWrapper div.infoBoxes div.infoBox {
    padding-right: 0px;
    max-width: 100%;
  }
  /* -- section boxes */
  section.boxes div.form div.formbox {
    /* padding: 0 10px; */
  }

  /* 
  contact us page
  -- contact us 
  */
  section.contact-us div.sectionWrapper div.contact div.information div.wrapper {
    padding: 0;
  }
  section.contact-us div.sectionWrapper div.contact div.information {
    padding: 20px 0;
  }
  section.contact-us div.sectionWrapper div.contact div.top {
    padding: 15px 10px 70px 10px;
  }

  /*
  * -- About us page
  * -- About us
  */
  section.about-us div.sectionWrapper div.section1 div.boxes {
    justify-content: center;
  }
  section.about-us2 div.boxes div.wrapper {
    justify-content: center;
  }
  section.about-us3 div.down div.boxes div.members {
    width: 100%;
  }
  section.about-us3 div.down div.boxes div.members h2.membersTitle {
    font-size: 200%;
    padding-left: 10px;
  }
  section.about-us3 div.down div.boxes div.wrapper {
    justify-content: center;
  }

   /*
  * -- product page
  * -- product
  */
  section.products div.sectionWrapper div.cards{
    width: 96%;
  }
}
