:root {
  --black: #000000;
  --darkRed: #3d0000;
  --midRed: #950101;
  --red: #ff0000;
  --section: #dad8d8;
  --sectionReverse: #333333;
  --footerColor: #f0f0f0;
  --mainColor: #f0f0f0;
}
body {
  background-color: var(--darkRed);
  color: var();
  font-size: 20px;
  line-height: 1.4;
  color: var(--mainColor);
}
.sectionWrapper {
  padding: 50px;
}

/* header */
header.header-section {
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 5px 0;
  background-color: var(--black);
}
header::after {
  padding-top: 50px;
}
.header-section .container {
  max-width: unset;
  padding-left: 50px;
  padding-right: 50px;
}
.header-nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-item {
  height: 100%;
  padding: 7px 0;
}
.logo-item .logo-link {
  display: flex;
  height: 100%;
}
.logo-item .logo-icon {
  height: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.nav-list .nav-item .nav-link {
  margin-left: 36px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.nav-toggle {
  width: 40px;
  height: 25px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.nav-toggle .bar {
  width: 100%;
  height: 20%;
  border-radius: 50px;
  background-color: #ffffff;
}
nav a {
  position: relative;
  display: inline-block;
  /*padding: 0 30px;*/
  /*color: #fff;*/
  color: #444;
  text-decoration: none;
  width: 100%;
}
.current-nav-item a {
  color: #5c29a0;
  border-bottom: 3px solid #5c29a0;
}
.nav-item a:after {
  content: "";
  display: block;
}
.nav-item a:after {
  position: absolute;
  left: 50%;
  /*    bottom: 0;*/
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: var(--midRed);
  transform: translateX(-50%);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-item a:hover:after {
  width: 100%;
}
/* header end */

/** --  section slider  */
section.slider {
  margin-top: 70px;
}
.swiper {
  width: 100%;
  height: 100%;
  max-height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** --  section slider  */

/** --  section introduction  */
section.introduction {
  /* margin-top: 70px; */
}
section.introductions div.sectionWrapper div.introduction {
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.introductions div.sectionWrapper div.introduction div.info h2 {
  margin: 100px 0 30px 0;
  font-size: 200%;
}
section.introductions div.sectionWrapper div.introduction div.info p.secondInfo {
  margin: 30px 0 80px 0;
  font-size: 150%;
}
section.introductions div.sectionWrapper div.introduction div.info a.infoLink {
  background-color: var(--midRed);
  color: var(--mainColor);
  padding: 15px 50px;
  border-radius: 20px;
  transition: 0.3s;
  border: 1px solid var(--red);
}
section.introductions div.sectionWrapper div.introduction div.info a.infoLink:hover {
  transition: 0.3s;
  background-color: var(--red);
  color: #ffffff;
}
section.introductions div.sectionWrapper div.introduction div.info {
  flex-basis: 45%;
}
section.introductions div.sectionWrapper div.introduction div.image {
  flex-basis: 45%;
}
section.introductions div.sectionWrapper div.introduction div.image {
  max-width: 450px;
}
section.introductions div.sectionWrapper div.introduction div.image img {
  width: 100%;
}
/** --  section introduction */

/** --  section product */
section.product {
  background-color: var(--section);
}
section.product .swiper {
  width: 100%;
  height: 100%;
}

section.product .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

section.product .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.product .swiper {
  width: 100%;
  /* height: 300px; */
  margin: 20px auto;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content {
  width: 100%;
  /* padding: 0 20px; */
  /* width: 335px;
  height: 250px; */
  display: flex;
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
  position: relative;
  /* max-height: 425px; */
  max-height: 360px;
  overflow: hidden;
  margin-top: auto;
  transition: 0.7s;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content .product-banner {
  width: 100%;
  height: 100%;
  position: relative;
  /* margin-bottom: 32px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content div.proh {
  position: absolute;
  top: 400px;
  transition: 0.7s;
  background-color: rgba(240, 240, 240, 0.6);
  padding: 15px 5px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content:hover div.proh {
  position: absolute;
  top: 165px;
  transition: 0.7s;
}
section.product
  div.swiper.mySwiper2
  div.swiper-wrapper
  div.swiper-slide
  div.product-card-content
  div.proh
  .product-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 32px;
  /* color: #000000; */
  color: #000;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content div.proh a.btn {
  padding: 10px 40px;
  background-color: var(--midRed);
  color: var(--mainColor);
  border: 1px solid var(--red);
  border-radius: 25px;
  transition: 0.3s;
}
section.product div.swiper.mySwiper2 div.swiper-wrapper div.swiper-slide div.product-card-content div.proh a.btn:hover {
  background-color: var(--red);
}
/** --  section product */

/** --  section video */
section.video div.video-banner {
  width: 100%;
  height: 500px;
  background: url(../img/backVideo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.video-banner .play-icon {
  width: 125px;
  cursor: pointer;
  position: absolute;
}

.video-promotion .video-embed-content {
  top: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-color: black;
}
.video-embed-content iframe {
  border: none;
  width: 100%;
}
.video-embed-content > div,
.video-embed-content > div > div {
  height: 100%;
}
.video-embed-content.show-video {
  display: block;
}
/** --  section video */

/** --  section info */
section.info {
  background-color: var(--section);
  min-height: 400px;
}

section.info div.sectionWrapper h3 {
  text-align: center;
  color: var(--darkRed);
  font-size: 200%;
}
section.info div.sectionWrapper div.infoBoxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
section.info div.sectionWrapper div.infoBoxes div.infoBox {
  padding-right: 20px;
  max-width: 265px;
}
section.info div.sectionWrapper div.infoBoxes div.infoBox h4 {
  text-align: center;
  font-size: 130%;
  padding: 10px 0;
  color: var(--darkRed);
}
section.info div.sectionWrapper div.infoBoxes div.infoBox p {
  text-align: justify;
  color: var(--darkRed);
}
section.info div.sectionWrapper div.infoBoxes div.infoBox:last-child {
  padding-right: 0px;
}

/** --  section info */

/** --  section info */
section.boxes {
  /* height: 300px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section.boxes div.box div.image1 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.boxes div.box div.image1 h4{
  font-size: 250%;
  text-shadow: 0px 0px 13px #000000;
}
section.boxes div.box div.image1 p{
  font-size: 140%;
}
section.boxes div.box div.image2 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.boxes div.box div.image2 h4 {
  font-size: 250%;
  text-shadow: 0px 0px 13px #000000;
  /* margin-top: 30px; */
  /* color: var(--black); */
}
section.boxes div.box div.image2 p{
  /* color: var(--black); */
  font-size: 140%;
/* font-weight: 500; */
}
/** --  section info */

/** --  FOOTER */

footer {
  background-color: var(--darkRed);
}
footer div.sectionWrapper div.footers {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer div.sectionWrapper div.footers,
footer div.sectionWrapper div.footers a {
  color: var(--footerColor);
}
footer div.sectionWrapper div.footers > div {
  flex-basis: 25%;
}
footer div.sectionWrapper div.footers div.footer-right h5 {
  margin-bottom: 15px;
  font-size: 120%;
}
footer div.sectionWrapper div.footers div.footer-mid h5 {
  margin-bottom: 15px;
  font-size: 120%;
}
footer div.sectionWrapper div.footers div.footer-mid ul {
  list-style: none;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm {
  display: flex;
  flex-direction: column;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm form {
  display: flex;
  flex-direction: column;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm h5 {
  margin-bottom: 20px;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm input#email {
  padding: 7px 7px 7px 0;
  width: 70%;
  font-size: 85%;
  background-color: transparent;
  border: none;
  /* border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium; */
  border-bottom: 1px solid white;
  color: antiquewhite;
  margin-bottom: 15px;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm input#email:focus-visible {
  outline: none;
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm form button {
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--midRed);
  color: var(--footerColor);
  transition: 0.2s;
  border: 1px solid var(--red);
}
footer div.sectionWrapper div.footers div.footer-left div.footerForm form button:hover {
  background-color: var(--red);
  color: #ffffff;
}
footer div.sectionWrapper div.footers div.footer-docial div.logo {
  margin-bottom: 20px;
}
footer div.sectionWrapper div.footers div.footer-docial div.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer div.sectionWrapper div.footers div.footer-docial div.social a {
  padding-right: 5px;
}
footer div.sectionWrapper div.footers div.footer-docial div.social a ion-icon.md.hydrated {
  font-size: 40px;
}

/** --  FOOTER  */

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  /* HEADER*/
  .header-section .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav-toggle {
    display: flex;
    order: 1;
  }
  .nav-list {
    overflow: hidden;
    top: 101%;
    right: 0;
    left: 0;
    align-items: flex-end;
    z-index: 10;
    position: absolute;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 0;
    max-height: 0;
    transition: 0.3s;
  }
  .nav-list.opened {
    max-width: 100%;
    max-height: 500px;
  }
  .nav-list .nav-item {
    display: flex;
    line-height: 40px;
  }
  .nav-list .nav-item .nav-link {
    margin: 0;
    width: 100%;
    padding-right: 16px;
    color: var(--midRed);
  }
  .nav-list .nav-item:hover {
    background-color: #ea282e4b;
  }
  /* HEADER*/
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
